/* src/App.css */
button {
  background-color: #009879;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007f63;
}

.App-header {
  padding: 20px;
}
